.spoiler {
	background: #f5f5f5;
	border: 1px solid #bbb;
	margin-bottom: 15px;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.spoiler_button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9f9", endColorstr="#e9e9e9");
	background-color:#f9f9f9;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#000;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	padding: .2em 1em .30em;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	margin-top: -3px;
	cursor: pointer;
}
.spoiler_title {
	border-bottom: 1px solid #bbb;
	margin: 0;
	margin-bottom: 4px;
	background: #ddd;
	padding: 4px 5px;
}

.spoiler_content {
	padding: 5px;
	height: auto;
	display: block;
	background: #f5f5f5;
}