# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30110"
endpoint_add_udp "0.0.0.0:30110"

set es_enableCustomData 1
set mysql_connection_string "server=127.0.0.1;port=5798;database=v2-prod;userid=fivem;password=fivemagrp;"

exec permissions.cfg

#### FIVEM DEFAULT ####
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start baseevents
###start playernames

start discord_bot
start async
start pNotify

#### MAP ####
start all_maps

#### ESSENTIAL ####
start mysql-async
start essentialmode
start esplugin_mysql
start es_admin2
start es_camera
start bansystem

#### ESX MENU ####
start es_extended
start esx_menu_default
start esx_menu_list
start esx_menu_dialog

###start esx_phone
start esx_blackberry
start esx_phone3

start esx_service
start esx_status
start esx_basicneeds
start esx_shops
start esx_moneywash

#### ESX ECON ####
start instance
start cron
start esx_addonaccount
start esx_addoninventory
start esx_datastore
start esx_billing
start esx_atm
start esx_society
start esx_weashops
start esx_AdvancedFuel
start esx_lscustom

#### ESX PED ####
start skinchanger
start esx_skin
start esx_clotheshop
start esx_barbershop
start esx_mask
start esx_identity

#### ESX JOBS ####
start esx_jobs
start esx_joblisting
start esx_taxijob
start esx_mecanojob
start esx_policejob
###start esx_realestateagentjob
###start esx_bankerjob
start esx_ambulancejob
start esx_property
start esx_vehicleshop
start esx_holdup
start esx_drugs
start esx_busjob
start esx_license
start esx_dmvschool
start esx_truckerjob
start esx_government

#### OTHER ####
start esx_rpchat
start esx_sit
start esx_voice
start esx_animations
start esx_optionalneeds
start wk_vehdamage
start SexySpeedometer
start streetLabel
start NoDriveBy
###start nogodmode
start lux_vehcontrol
start trains
###start radar
start pvp
start coloredhud
start bob74_ipl
start simeonfix
start LifeTraffic
start vannouncer
start InteractSound
start LockSystem
###start wk_actionmenu
start modelblacklist
start agrp_help
###start vehcontrol
start TimeAndDate
###start christmas
start PoliceVehiclesWeaponDeleter
start loadingscreen
start rainbowveh
start DisablePistolWhip
start realistic_driving

#### ESX_OTHER ####
start esx_jailer
start esx_eden_garage

#### ESX_CUSTOM ####
start esx_shiftgear
start esx_jobvehicles
start esx_aiomenu
start esx_realgarbageman

#### UPDATE_22_10_2017 ####
start idoverhead
start pingkick
start es_carwash
start guns
start pointing
start handsup
start knockout

#### UPDATE_26_10_2017 ####
start esx_mafia

#### UPDATE_28_10_2017 ####
start esx_plasticsurgery
start esx_tazerEngine

#### UPDATE_30_10_2017 ####
###start disabledispatch
start RappelHeli
start NoPedWepDrop
start esx_jobCounter
start pizza_delivery


# nested configs!
exec cars.cfg

## 24.02.2018 ##
start esx_keyhandler
start ELS-FiveM

## 25.03.2018 ##
start whitelist

##14.04.2018 ## 
start cruisecontrol

##01.05.2018##
start esx_eden_weapon_accessories

##14.05.2018##
start esx_weaponsaccessories
start esx_celldoors
start BrockALPR
start wk_wrs
start vMenu
start interiors

##18.05.2018##
start dispatchsystem 

##21.05.2018##
start LockSystem
start InteractSound

sv_scriptHookAllowed 0

# change this
rcon_password gregorianer13
sv_hostname "[V2-WHITELIST] Another German RolePlay | another-grp.com | [GER | 32 SLOTS]"

# loading a server icon (96x96 PNG file)
load_server_icon logotest.png

# convars for use from script
set temp_convar "Hey FellowFags!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:76561198262364792 group.admin
add_principal identifier.steam:76561198072179472 group.admin

# hide player endpoints in external log output
sv_endpointprivacy false

# server slots limit (default to 30)
sv_maxclients 32

sv_licensekey v0pyqxlwg1oq7ec5t1svhnasl3nvn8qy
