tr td.trow1:first-child,
tr td.trow2:first-child,
tr td.trow_shaded:first-child { border-left: 0; }

tr td.trow1:last-child,
tr td.trow2:last-child,
tr td.trow_shaded:last-child {
	border-right: 0; 
}

.tborder {
	border-radius: 2px; 
}

.tborder tbody tr:last-child td {
	border-bottom: 0; 
}

.tborder tbody tr:last-child td:first-child {
	border-bottom-left-radius: 2px;
}

.tborder tbody tr:last-child td:last-child {
	border-bottom-right-radius: 2px; 
}

.thead {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px; 
}

.thead_collapsed {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px; 
}

.thead_left { border-top-right-radius: 0;  }
.thead_right { border-top-left-radius: 0;  }

.tcat_menu {
  	border-radius: 0 !important; 
}

.tborder tbody:nth-last-child(2) .tcat_collapse_collapsed {
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important; 
}

button,
input.button,
input.textbox,
input.invalid_field,
input.valid_field,
select,
textarea,
.editor_control_bar,
blockquote,
.codeblock,
fieldset,
.pm_alert,
.red_alert,
.popup_menu,
.postbit_buttons > a,
a.button {
	border-radius: 1px; 
}

.post.classic .post_author {
	border-radius: 0 2px 2px 0;
}

.popup_menu .popup_item_container:first-child .popup_item {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.popup_menu .popup_item_container:last-child .popup_item {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px; 
}

.pagination a {
	border-radius: 2px; 
}

.pollbar {
    position: relative;
    border-radius: 2px;
}

.fa_xtra { 
	vertical-align: middle; 
	font-size: 14px; 
	margin-top: -4px;
	padding-right: 4px; 
	-webkit-transform:rotateZ(0.0001deg);
	-moz-transform:rotateZ(0.0001deg);
	transform: rotateZ(0.0001deg); 
}

.dashed { 
	border: 1px dashed #ccc; 
	border-color: #ccc; 
	border-radius: 2px; 
}

.bradius { border-radius: 2px !important;  }
.bradius_xtr { 	border-radius: 5px !important; }
.bradius-full { border-radius: 100px !important; }

.trns-normal {
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

.fa_xtra.cd {
	padding-left: 2px;
	margin-top: -2px; 
}

.fa_xtra.pm { 
	margin-top: -3px !important; 
	padding-right: 3px !important; 
}

.fa_xtra.pd { 
	margin-top: -3px !important; 
	padding-right: 5px !important;
}

.fa_xtra.mp { 
	padding-right: 2px;
	margin-top: -2px; 
	margin-left: 2px; 
	font-size: 16px; 
	cursor: pointer; 
} 

.fa_xtra.mp:hover { color: #cfdde6; }

.fa_xtra.blue { color: #2c82c9; }
.fa_xtra.white { color: #bbb; }
.fa_xtra.lgreen { color: #2ecc71; }
.fa_xtra.green { color: #9e8e5a }
.fa_xtra.red { color: #f1654c; }
.fa_xtra.grey { color: #777; }
.fa_xtra.orange { color: #d98b3a; }

.clr_gry { color: #888 !important; }
.clr_lgr { color: #999 !important; }
.clr_wht { color: #fff !important; }
.clr_lgh { color: #ccc !important; }
.clr_grn { color: #27ae60 !important; }
.clr_drd { color: #c0392b !important; }

.onoffnew {
	display: inline-block;
	float: left; 
	height: 12px; width: 12px; 
	border-radius: 1000px;
	margin: 9px 16px 0 5px;
}

.onoffnew.onl { background: #2ecc71; }
.onoffnew.off { background: #bdc3c7; }

.fxdim44 { 
	width: 44px !important; 
	height: 44px !important; 
	border-radius: 1000px;
}

.fxdim70 { 
	width: 70px !important; 
	height: 70px !important; 
	border-radius: 1000px;
}

.fxdim100 {
	width: 100px !important;
	height: 100px !important; 
	border-radius: 1000px;
}

.fw4 { font-weight: 400; }

.mrgtop { margin-top: 1.2em; }
.adjst { padding-right: 1em; }

.rlx { padding-left: 0px 25px 0px 25px; }

.lstpst { 
	color: #666; 
	padding-right: 2em; 
}

.and-more { 
	font-size: 12px !important; 
	color: #444;  }

.ediedit {
	width: 99.76%; 
	padding: 5px 5px 5px 6px; 
	margin-top: -7px; 
	margin-left: -11px; 
}

.lftbx {
	position: relative; 
	float: left; 
	padding: 15px 0px 15px 15px; 
	width: 150px; 
	margin: 6px 0px 5px 5px; 
}

.adj_log {
    position: relative;
	z-index: 5;
    float: right;
	color: #888;
    margin-right: 24px;
    margin-top: -21px; 
}

.sdb_adj {
	float: right; 
	width: 22%; 
	margin-top: 18px;
}

.mpage a, 
.mpage a:link, 
.mpage a:visited, 
.mpage a:focus {
	background: rgb(243, 245, 247);
	border-radius: 2px;
	font-size: 12px;
	border: 1px solid #eceff1;
	color: #78909C;
	padding: 0px 6px;
}

.mpage a:hover {
	background: #f9f9f9;
}

.trow1 .mpage,
.trow2 .mpage {
    opacity: 0;
	-webkit-transition: opacity .1s ease;
	-moz-transition: opacity .1s ease;
	transition: opacity .1s ease;
}

.trow1:hover .mpage,
.trow2:hover .mpage {
	opacity: 1;
}

@media screen and (max-width: 1100px) {
	.ttip span {
		display: block;
	}
	.fb-pt {
		display: none;
	}
	ul.tabs li.current {
		float: none;
	}
	ul.tabs li {
		float: none;
		display: block;
	}
}

@media screen and (max-width: 1100px) {
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; } 
}
	
[class*="add_buddy_button"] { margin-top: 13px !important; }
[class*="add_buddy_button"]:hover,
[class*="add_ignore_button"]:hover { background: #29B6F6 !important; }

[class*="report_user_button"]:hover { 
	background: #29b6f6 !important;
	color: #fff !important;
}

		